<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="/products/?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="/products/?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="/products/?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">Full Range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="forher-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Her
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="forher-link">
                <a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=pendants" class="dropdown-item">Pendants</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=rings" class="dropdown-item">Rings</a>
                <a href="{% url 'products' %}" class="dropdown-item">Full Range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="metal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="metal-link">
                <a href="{% url 'products' %}?collection=plat" class="dropdown-item">Platinium</a>
                <a href="{% url 'products' %}?collection=gold" class="dropdown-item">Gold</a>
                <a href="{% url 'products' %}?collection=silver" class="dropdown-item">Silver</a>
                <a href="{% url 'products' %}?collection=mix" class="dropdown-item">Mix</a>
                <a href="{% url 'products' %}" class="dropdown-item">Full Range</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?description=new" class="dropdown-item">Latest Designs</a>
                <a href="{% url 'products' %}?description=discount" class="dropdown-item">Offers</a>
            </div>
        </li>
    </ul>
</div>