<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MainNav Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="/products/?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="/products/?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="/products/?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="forher-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Her
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="forher-link">
                <a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=pendants" class="dropdown-item">Pendants</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=rings" class="dropdown-item">Rings</a>
                <a href="{% url 'products' %}?category=earrings,pendants,bracelets,rings" class="dropdown-item">All For Her</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wedding-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wedding Couples
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wedding-link">
                <a href="" class="dropdown-item">Enganement Rings</a>
                <a href="" class="dropdown-item">Wedding Band Pairs</a>
                <a href="" class="dropdown-item">Wedding Bands For Him</a>
                <a href="" class="dropdown-item">Wedding Bands For her</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers EndMainNav
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>