{% extends "base.html" %}

{% block extra_title %}404{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-center text-md-left m-4">The page you requested does not exist</h2>
        </div>
    </div>
 {% endblock %}